{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="" style="width: 50px; height:60px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li
                    {% if '/' == request.path %}
                        class="nav-item mr-3 active"
                    {% else %}
                        class="nav-item mr-3" 
                    {% endif %}
                >
                    <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i> Home </a>
                </li>
                <li
                    {% if 'galleries' in request.path %}
                        class="nav-item mr-3 active"
                    {% else %}
                        class="nav-item mr-3"
                    {% endif %}
                >
                    <a class="nav-link" href="{% url 'galleries' %}"><i class="fab fa-buffer"></i> Galleries</a>
                </li>
                {% if user.is_authenticated %}
                    <li
                        {% if 'profile' in request.path %}
                            class="nav-item mr-3 active"
                        {% else %}
                            class="nav-item mr-3"
                        {% endif %}
                    >
                        <a class = "nav-link" href="{% url 'profile' %}"><i class="fas fa-user"></i> {{user.profile.short_name}}</a>
                    </li>
                    <li class="nav-item mr-3 ">
                        <a class = "nav-link" href="javascript:{document.getElementById('logout').submit()}"><i class="fas fa-arrow-alt-circle-up"></i> Logout</a>
                        <form action="{% url 'logout' %}" method="POST" id="logout">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                    </li>
                {% else %}
                    <li
                        {% if 'login' in request.path %}
                            class="nav-item mr-3 active"
                        {% else %}
                            class="nav-item mr-3"
                        {% endif %}
                    >
                        <a class = "nav-link" href="{% url 'login' %}"><i class="fas fa-arrow-alt-circle-down"></i> Login</a>
                    </li>
                    <li
                        {% if 'register' in request.path %}
                            class="nav-item mr-3 active"
                        {% else %}
                            class="nav-item mr-3"
                        {% endif %}
                    >
                        <a class = "nav-link" href="{% url 'register' %}"><i class="fas fa-registered"></i> Register</a>
                    </li>
                {% endif %} 
                
                <li
                    {% if 'blog' in request.path %}
                        class="nav-item mr-3 active"
                    {% else %}
                        class="nav-item mr-3"
                    {% endif %}
                >
                    <a class="nav-link" href="{% url 'blogs' %}"><i class="fas fa-blog"></i>Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>