{% extends 'base.html'%}
{% load humanize %}
{% load static %}
{% block content %}
<div class="container my-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'galleries' %}">Galleries</a></li>
          {% for gallery in gallery %}
            <li class="breadcrumb-item active" aria-current="page">{{gallery.name}}</li>
          {% endfor %}
        </ol>
    </nav>
    <div class="row">
      {% if gallery %}
        {% for gallery in gallery %}
        <div class="container col-md-8 mb-5">
            <div class="card-header card-title bg-transparent border-dark"><h3 class="card-title text-custom text-center " style="font-weight: 300;font-size: 2.5rem;">{{ gallery.name }}</h3></div>
            <div class="alert alert-dark" style="font-weight: 300;font-size: 1.25rem;">
              <h5 class="alert-heading">Location</h5>
              <p>{{gallery.location}}</p>
            </div>
            <div class="alert alert-dark" style="font-weight: 300;font-size: 1.rem;">
              <h5 class="alert-heading">About {{gallery.name}}</h5>
              <p class="card-text">{{ gallery.description }}</p>
            </div>
            <div class="btn btn-block">
              {% if gallery.is_available %}
              <button type="button" class="btn btn-outline-info btn-lg" data-toggle="modal" data-target="#myModal">Book Now</button>
              {% include 'partials/booking.html' %}
              {% else %}
              <a class="btn btn-outline-danger btn-lg disable">Not Available</a>
              {% endif %}
            </div>
        </div>
        {% endfor %}
      {% endif %}
    </div>

        <!-- Grid row -->
<!-- Grid row -->
  <div class="row align-items-center my-5">
    <div class="card-body card-header border-custom">
        <h1 class="text-center text-custom m-0">Recent Event Photos</h1>
    </div>
  </div>
  <div class="gallery">
    {% if gallery %}
      {% for gallery in gallery %}
      <!-- Grid column -->
      <div class="mb-3 pics">
        {% if gallery.img_1%}
        <img class="img-fluid" src="{{gallery.img_1.url}}" alt="Card image cap">
        {% else %}
        <img class="img-fluid" src="{% static 'img/blank.png' %}" alt="Card image cap">
        {% endif %}
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="mb-3 pics ">
        {% if gallery.img_2%}
        <img class="img-fluid" src="{{gallery.img_2.url}}" alt="Card image cap">
        {% else %}
        <img class="img-fluid" src="{% static 'img/blank.png' %}" alt="Card image cap">
        {% endif %}
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="mb-3 pics ">
        {% if gallery.img_3%}
        <img class="img-fluid" src="{{gallery.img_3.url}}" alt="Card image cap">
        {% else %}
        <img class="img-fluid" src="{% static 'img/blank.png' %}" alt="Card image cap">
        {% endif %}
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="mb-3 pics ">
        {% if gallery.img_4%}
        <img class="img-fluid" src="{{gallery.img_4.url}}" alt="Card image cap">
        {% else %}
        <img class="img-fluid" src="{% static 'img/blank.png' %}" alt="Card image cap">
        {% endif %}
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="mb-3 pics ">
        {% if gallery.img_5%}
        <img class="img-fluid" src="{{gallery.img_5.url}}" alt="Card image cap">
        {% else %}
        <img class="img-fluid" src="{% static 'img/blank.png' %}" alt="Card image cap">
        {% endif %}
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="mb-3 pics ">
        {% if gallery.img_6%}
        <img class="img-fluid" src="{{gallery.img_6.url}}" alt="Card image cap">
        {% else %}
        <img class="img-fluid" src="{% static 'img/blank.png' %}" alt="Card image cap">
        {% endif %}
      </div>
      <!-- Grid column -->
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}