{% extends 'base.html'%}
{% load humanize %}
{% load static %}
{% block content %}

<div class="container my-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'galleries' %}">Galleries</a></li>
          <li class="breadcrumb-item active" aria-current="page">Test</li>
        </ol>
    </nav>
    <div class="row">
      {% if galleries %}
        {% for gallery in galleries %}
        <div class="card-group col-md-4 mb-5">
          <div class="card h-100">
            <div class="card-header card-title bg-transparent border-success"><h3 class="card-title text-info text-center ">{{ gallery.nameUpper }}</h3></div>
            <div class="card-body">
              <h5 class="card-title ">{{ gallery.location.location }}</h5>
              <p class="card-text">{{ gallery.shortdesc }}....</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'gallery' gallery.id %}" class="btn btn-outline-info btn-sm mr-2">More Info</a>
                <a href="#" class="btn btn-outline-danger btn-sm">Book Now</a>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <div class="col-md-12 mb-5">
          <p>No Galleries Available</p>
        </div>
      {% endif %}
  
    </div>
</div>
{% endblock %}