{% extends 'base.html'%}
{% load humanize %}
{% block content %}
<div class="container my-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Browse Galleries</li>
        </ol>
    </nav>
    <div class="row">
      {% if galleries %}
        {% for gallery in galleries %}
        <div class="card-group col-md-4 mb-5">
          <div class="card h-100">
            <div class="card-header card-title bg-transparent border-custom"><h3 class="card-title text-custom text-center ">{{ gallery.nameUpper }}</h3></div>
            <div class="card-body text-custom">
              <h5 class="card-title ">{{ gallery.location.location }}</h5>
              <p class="card-text">{{ gallery.shortdesc }}....</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'gallery' gallery.id %}" class="btn btn-outline-info btn-sm mr-2">More Info</a>
                {% if gallery.is_available %}
                <a href="#" class="btn btn-outline-success btn-sm">Book Now</a>
                {% else %}
                <a class="btn btn-outline-danger btn-sm disable">Not Available</a>
                {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <div class="col-md-12 mb-5">
          <h1 class="text-center text-danger m-0 my-5">No Galleries Available</h1>
        </div>
      {% endif %}
  
    </div>
    <nav aria-label="...">
      {% if galleries.has_other_pages %} 
        <ul class="pagination">
          {% if galleries.has_previous %}
            <li class="page-item">
              <a href="?page={{galleries.previous_page_number}}" class="page-link">Previous</a>
            </li>
          {% else %}
              <li class="page-item disable">
                <a class="page-link">Previous</a>
              </li>
          {% endif %}
          {% for i in galleries.paginator.page_range %}
              {% if galleries.number == i %}
                <li class="page-item active">
                  <a class="page-link">{{i}}</a>
                </li>
              {% else %}
                <li class="page-item">
                  <a href="?page={{i}}" class="page-link">{{i}}</a>
                </li>
              {% endif %}
          {% endfor %}
          {% if galleries.has_next %}
            <li class="page-item">
              <a href="?page={{galleries.next_page_number}}" class="page-link">Next</a>
            </li>
          {% else %}
              <li class="page-item disable">
                <a class="page-link">Next</a>
              </li>
          {% endif %}
        </ul>
      {% endif %}
    </nav>
</div>
{% endblock %}