{% extends 'base.html' %}
{% load static %}
{% block content %}
 <!-- Page Content -->
<div class="container">

    <!-- Cover image -->
    <div class="row align-items-center my-5">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/cover.jpg' %}" alt="">
    </div>
    <div class="row align-items-center my-5">
        <div class="card-body border-bottom border-info">
            <h1 class="text-center text-info  m-0">Galleries</h1>
        </div>
    </div>
    <!-- Gallries card -->
    <div class="row">
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Card One</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-outline-info btn-sm mr-2">More Info</a>
                <a href="#" class="btn btn-outline-danger btn-sm">Book Now</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Card Two</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-outline-info btn-sm mr-2">More Info</a>
                <a href="#" class="btn btn-outline-danger btn-sm">Book Now</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Card Three</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-outline-info btn-sm mr-2">More Info</a>
                <a href="#" class="btn btn-outline-danger btn-sm">Book Now</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
         <!-- /.col-md-4 -->
         <div class="col-md-4 mb-5">
            <div class="card h-100">
              <div class="card-body">
                <h2 class="card-title">Card Four</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-outline-info btn-sm mr-2">More Info</a>
                <a href="#" class="btn btn-outline-danger btn-sm">Book Now</a>
              </div>
            </div>
          </div>
          <!-- /.col-md-4 -->
  
      </div>
</div>
{% endblock %}